
:root {
  --white: #fff;
  --black: #000;
  --gray: #E4E4E4;
  --gray-light: #F2F4F5;
  --gray-dark: #E4E4E4;
  --red: #C51A1B;
  --red-dark: #900D0D;
  --blue-light: #0073D0;
  --blue-dark: #002448;
  --blue-white: #F7F9FF;
}
